header {
  margin: 20px 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  
  @media( max-width: 515px ) {
        flex-direction: column;
        align-items: center;
  }//this closes the media query 
  h1 {
    font-size: 4rem;
    
    @media( max-width: 515px ) {
      margin-bottom: 20px;
    }//this closes the h1 media query
  }//this closes h1
  nav{
    margin-left: 62px;
    
    @media( max-width: 515px ) {
        margin-left: 0;
    }// this closes the nav media query
    a {
      margin-left: 20px;
      font-size: 1.8rem;
    }// closes a tag
    .first-anchor {
      margin-left: 0;
    }
  }// this closes the nav
}// this closes the header